Django==3.2.13
environs==7.3.1
psycopg2-binary==2.9.9
bs4
requests
urllib3
python-dateutil
google-api-python-client
google
ujson
html5lib
nameparser
mlb-statsapi
django-extensions
python-dotenv==0.21.1
djangorestframework
markdown
django-filter
django-cors-headers